
<h1>Admin Dashboard</h1>

<div class="panel panel-default items">
<table class="table table-bordered">
<thead>
      <tr>
        <th>Products</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p><%= @product_count%></p></td>
        <td><p><%= @category_count %></p></td>
      </tr>
    </tbody>
</table>
</div>